body {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    padding: 10%;
    margin-top: 5%;
    color: #333;
}

h1 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin: 0;
    padding-bottom: 20px;
}

p {
    text-align: center;
}

.mail {
    color: #dc8100;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 3px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 20px;
    line-height: 1.45;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    height: 60px;
}

.btn-me {
    color: #5BB66F;
    background-color: transparent;
    background-image: none;
}

.btn-me.active, .btn-resume:active, .show > .btn-resume.dropdown-toggle {
    color: #fff;
    background-color: #3d884d;
    border-color: #77ab82;
}

.btn-me:hover {
    color: #fff;
    background-color: #3d884d;
    border-color: #77ab82;
}

.btn-linkedin {
    color: #0077b5;
    background-color: transparent;
    background-image: none;
}

.btn-linkedin.active, .btn-linkedin:active, .show > .btn-linkedin.dropdown-toggle {
    color: #fff;
    background-color: #0077b5;
    border-color: #00a0dc;
}

.btn-linkedin:hover {
    color: #fff;
    background-color: #6bacce;
    border-color: #A6CDE1;
}

.btn-github {
    color: #393e42;
    background-color: transparent;
    background-image: none;
}

.btn-github.active, .btn-github:active, .show > .btn-github.dropdown-toggle {
    color: #fafbfc;
    background-color: #393e42;
    border-color: #7F8387;
}

.btn-github:hover {
    color: #fafbfc;
    background-color: #393e42;
    border-color: #7F8387;
}

.btn-facebook {
    color: #3b5998;
    background-color: transparent;
    background-image: none;
}

.btn-facebook.active, .btn-facebook:active, .show > .btn-facebook.dropdown-toggle {
    color: #fff;
    background-color: #3b5998;
    border-color: #8B9DC3;
}

.btn-facebook:hover {
    color: #fff;
    background-color: #3b5998;
    border-color: #8B9DC3;
}

.content {
    display: block;
    text-align: center;
    max-width: 100%;
    width: 550px;
    margin: 0 auto;
}

.link {
    max-width: 60%;
    margin: 0 auto;
}

@media only screen and (max-width: 560px) {
    body {
        margin-top: 15%;
    }

    h1 {
        font-size: 30px;
    }

    .link {
        max-width: 80%;
    }
}

@media only screen and (max-width: 400px) {
    .link {
        max-width: 100%;
    }
}
