body {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    margin-top: 15%;
    color: #333;
}

h1 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin: 0;
    padding-bottom: 20px;
}

section {
    max-width: 100%;
    width: 550px;
    margin: 0 auto;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

p {
    text-align: center;
}

a:hover, a.active, a:active, .show > a.dropdown-toggle {
    text-decoration:none;
}

.mail {
    color: #dc8100;
}

.links {
    max-width: 60%;
    margin: 0 auto;
}

@media only screen and (max-width: 560px) {
    body {
        margin-top: 15%;
    }

    h1 {
        font-size: 30px;
    }

    .links {
        max-width: 80%;
    }
}

@media only screen and (max-width: 400px) {
    .links {
        max-width: 100%;
    }
}

.link {
    display: inline-block;
    border: 3px solid transparent;
    padding: 12px;
    font-size: 20px;
    border-radius: 4px;
    width: 100%;
    height: 60px;
}

.link-resume {
    color: #5BB66F;
    background-color: transparent;
}

.link-resume:hover, .link-resume.active, .link-resume:active, .show > .link-resume.dropdown-toggle {
    color: #fff;
    background-color: #3d884d;
    border-color: #77ab82;
}

.link-linkedin {
    color: #0077b5;
    background-color: transparent;
}

.link-linkedin:hover, .link-linkedin.active, .link-linkedin:active, .show > .link-linkedin.dropdown-toggle {
    color: #fff;
    background-color: #0077b5;
    border-color: #00a0dc;
}

.link-github {
    color: #393e42;
    background-color: transparent;
}

.link-github:hover, .link-github.active, .link-github:active, .show > .link-github.dropdown-toggle {
    color: #fafbfc;
    background-color: #393e42;
    border-color: #7F8387;
}
